# 빌드 결과물
.next/
out/
build/
dist/

# 의존성 디렉토리
node_modules/

# 로그 파일
*.log

# 환경 변수 파일
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 캐시 디렉토리
.cache/

# 기타 파일
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# 패키지 매니저 파일
yarn-error.log
package-lock.json

# 자동 생성 파일
next-env.d.ts 